# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*        # catches all env variants

# Build and distribution files
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
